# Dependencies
node_modules

# Build output
dist

# Environment variables
.env

# Editor config
.vscode

# Logs
*.log
generated
# Ignore Prisma client if generated locally
# (Will require running `npx prisma generate` after pulling changes)
prisma/client
